<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dang lam de</title>
    <link rel="shortcut icon" type="image/png" href="../images/logo-icon.png">
    <link rel="stylesheet" href="../css/danglam.css">
</head>

<body class="">
    <div id="__next" style="width: 1351px; height: 568px; ">
        <div class="play__TestPlayContainerStyle-sc-13ix6g6-0 hRLeVY" style=" height: 568px;">
            <div class="style__TestPlayStyle-bng1p4-0 ktDzLV" style=" height: 568px; ">
                <div class="Header__HeaderStyled-iexuc2-0 dzKktC">
                    <div class="Header__Container-iexuc2-1 jzoEAB">
                        <span class="title">CSDL: Chương 1: Giới thiệu tổng quan về Cơ sở dữ liệu - Một số khái niệm cơ bản</span>
                        <div class="Header__ButtonGroup-iexuc2-2 bQMvuX">
                            <div class="button__ButtonStyle-ff5vbp-0 hQqled" color="#fff">
                                <span class="bp3-icon bp3-icon-tick-circle" icon="tick-circle">
                                    <svg fill="#fff" data-icon="tick-circle" width="14" height="14" viewBox="0 0 16 16">
                                        <desc>tick-circle</desc>
                                        <path d="M8 16c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm4-11c-.28 0-.53.11-.71.29L7 9.59l-2.29-2.3a1.003 1.003 0 0 0-1.42 1.42l3 3c.18.18.43.29.71.29s.53-.11.71-.29l5-5A1.003 1.003 0 0 0 12 5z" fill-rule="evenodd"></path>
                                    </svg>
                                </span>
                                <div class="clearfix__Clearfix-w9lses-0 nSccW" width="8"></div>
                                <span class="button__Span-ff5vbp-1 dSnLVe" color="#fff">Nạp bài</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix__Clearfix-w9lses-0 evHUKk" height="64"></div>
                <div class="style__Container-bng1p4-2 imYbjB">
                    <div class="table-choose__TableChooseContainer-sc-1enzu2-0 hRRepO">
                        <div class="table-choose__WrapperHeading-sc-1enzu2-1 ciTxed">
                            <span class="bp3-icon bp3-icon-properties" icon="properties">
                                <svg fill="#0984E3" data-icon="properties" width="16" height="16" viewBox="0 0 16 16">
                                    <desc>properties</desc>
                                    <path d="M2 6C.9 6 0 6.9 0 8s.9 2 2 2 2-.9 2-2-.9-2-2-2zm4-3h9c.55 0 1-.45 1-1s-.45-1-1-1H6c-.55 0-1 .45-1 1s.45 1 1 1zm-4 9c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm13-5H6c-.55 0-1 .45-1 1s.45 1 1 1h9c.55 0 1-.45 1-1s-.45-1-1-1zm0 6H6c-.55 0-1 .45-1 1s.45 1 1 1h9c.55 0 1-.45 1-1s-.45-1-1-1zM2 0C.9 0 0 .9 0 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" fill-rule="evenodd"></path>
                                </svg>
                            </span>
                            <div class="table-choose__HeadingLine-sc-1enzu2-6 khjZis">Bảng chọn đáp án</div>
                        </div>
                        <div class="table-choose__BoxOverviewContainer-sc-1enzu2-2 jBeozc">
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 fqGVVP" color="#3B3B3B">1</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">2</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">3</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">4</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">5</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">6</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">7</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">8</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">9</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">10</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">11</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">12</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">13</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">14</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">15</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">16</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">17</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">18</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">19</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">20</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">21</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">22</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">23</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">24</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">25</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">26</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">27</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">28</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">29</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">30</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">31</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">32</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">33</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">34</a>
                            <a href="#" class="result table-choose__Result-sc-1enzu2-3 cpAZmo" color="#3B3B3B">35</a>
                        </div>
                    </div>
                    <div class="style__MainQuestions-bng1p4-1 gmoaEx" style=" position: fixed; margin-left: 100px;">
                        <div class="style__PlayContestBox-bng1p4-5 iyhlnS">
                            <span class="question">Câu 1: </span>
                            <div class="style__QuestionWrapper-bng1p4-6 QKNEr">
                                <div class="noidung_cauhoi">
                                    <span style="font-family: Bookerly; font-size: 16px;">“Thực thể/Loại thực thể, Mối kết hợp/Loại mối kết hợp” là các khái niệm của mô hình dữ liệu nào sau đây?</span>
                                </div>
                                <div class="clearfix__Clearfix-w9lses-0 bkPuTF" height="16"></div>
                                <div style=" width: 692px; height: 276px;">
                                    <div class="answer style__Wrapper-fvwsih-2 Wuuww">
                                        <div class="style__AlphaEditorWrapper-fvwsih-3 iwtTFX">
                                            <div class="style__AlphaCheck-fvwsih-4 bCNoNL" color="#0984E3">A</div>

                                        </div>
                                    </div>
                                    <div class="answer style__Wrapper-fvwsih-2 Wuuww">
                                        <div class="style__AlphaEditorWrapper-fvwsih-3 iwtTFX">
                                            <div class="style__AlphaCheck-fvwsih-4 bCNoNL" color="#0984E3">B</div>

                                        </div>
                                    </div>
                                    <div class="answer style__Wrapper-fvwsih-2 Wuuww">
                                        <div class="style__AlphaEditorWrapper-fvwsih-3 iwtTFX">
                                            <div class="style__AlphaCheck-fvwsih-4 bCNoNL" color="#0984E3">C</div>

                                        </div>
                                    </div>
                                    <div class="answer style__Wrapper-fvwsih-2 Wuuww">
                                        <div class="style__AlphaEditorWrapper-fvwsih-3 iwtTFX">
                                            <div class="style__AlphaCheck-fvwsih-4 bCNoNL" color="#0984E3">D</div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix__Clearfix-w9lses-0 glrdKI" height="56"></div>
                <div class="Footer__FooterStyled-sc-1qk898h-0 jYkqxl">
                    <div class="Footer__Container-sc-1qk898h-1 cvHJwD">
                        <div class="navigation Footer__PrevNavigation-sc-1qk898h-2 gtaSnI">
                            <span class="bp3-icon bp3-icon-chevron-left" icon="chevron-left">
                                <svg fill="#007EE5" data-icon="chevron-left" width="22" height="22" viewBox="0 0 20 20">
                                    <desc>chevron-left</desc>
                                    <path d="M8.41 10l5.29-5.29c.19-.18.3-.43.3-.71a1.003 1.003 0 0 0-1.71-.71l-6 6c-.18.18-.29.43-.29.71 0 .28.11.53.29.71l6 6a1.003 1.003 0 0 0 1.42-1.42L8.41 10z" fill-rule="evenodd"></path>
                                </svg>
                            </span>
                            <span class="text">Câu trước</span>
                        </div>
                        <span class="countdown-timer__Timer-sc-1bejikl-0 hrwUug">
                            <span id="time" class="bp3-icon bp3-icon-time" icon="time">
                                <svg fill="#007EE5" data-icon="time" width="14" height="14" viewBox="0 0 16 16">
                                    <desc>time</desc>
                                    <path d="M8 0C3.58 0 0 3.58 0 8s3.58 8 8 8 8-3.58 8-8-3.58-8-8-8zm0 14c-3.31 0-6-2.69-6-6s2.69-6 6-6 6 2.69 6 6-2.69 6-6 6zm1-6.41V4c0-.55-.45-1-1-1s-1 .45-1 1v4c0 .28.11.53.29.71l2 2a1.003 1.003 0 0 0 1.42-1.42L9 7.59z" fill-rule="evenodd"></path>
                                </svg>
                            </span>
                        <span>
                                <span class="number hours">00</span>:<span class="number minutes">51</span>:<span class="number seconds">21</span></span>
                        </span>
                        <div class="navigation Footer__NextNavigation-sc-1qk898h-3 kXekre" style=" color: rgb(0, 126, 229);">
                            <span class="text">Câu tiếp theo</span>
                            <span class="bp3-icon bp3-icon-chevron-right" icon="chevron-right">
                                <svg fill="#007EE5" data-icon="chevron-right" width="22" height="22" viewBox="0 0 20 20">
                                    <desc>chevron-right</desc>
                                    <path d="M13.71 9.29l-6-6a1.003 1.003 0 0 0-1.42 1.42l5.3 5.29-5.29 5.29c-.19.18-.3.43-.3.71a1.003 1.003 0 0 0 1.71.71l6-6c.18-.18.29-.43.29-.71 0-.28-.11-.53-.29-.71z" fill-rule="evenodd"></path>
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

</html>