<!DOCTYPE html>
<html>

<head>
    <title class="next-head">TRANG CHỦ | tungtung.vn</title>
    <meta charSet="utf-8" class="next-head" />
    <meta name="description" content="Nền tảng đề thi trực tuyến giúp mọi cá nhân chia sẻ và phát triển kiến thức của mình.    " class="next-head" />
    <meta name="keywords" content="trắc nghiệm trực tuyến, đề thi trắc nghiệm, trắc nghiệm tiếng anh, ôn thi THPT quốc gia, ôn luyện đại học, interview, test" class="next-head" />
    <link rel="shortcut icon" type="image/png" href="../images/logo-icon.png" />
    <link rel="stylesheet" href="../css/home.css" />

</head>

<body>
    <div id="__next">
            <div class="Layout__LayoutWrapper-sc-72xje9-0 gNMUod">
                <header class="header Header__HeaderWrapper-sc-1a0k2zv-0 kUnFIo">
                    <div class="Header__HeaderNav-wwhct2-0 jiKYVK">
                        <div class="Header__RightHead-wwhct2-4 LQUjt Flex-no3b20-0 cYoqhr">
                            <a href="/">
                                <div class="Logo__LogoStyle-ju6la0-0 eoCuSN" src="../images/logo.png"></div>
                            </a>
                            <div class="Header__ClearDiv-wwhct2-5 ioPZqo"></div>
                            <div class="style__SearchDropdownStyled-sc-1jkqjil-0 Hpwuf">
                                <div class="bp3-input-group bp3-large bp3-radius search__InputGroupStyled-sc-1dtjrnl-0 bmnola">
                                    <span class="bp3-icon bp3-icon-search" icon="search">
                                        <svg data-icon="search" width="16" height="16" viewBox="0 0 16 16">
                                            <desc>search</desc>
                                            <path d="M15.55 13.43l-2.67-2.68a6.94 6.94 0 0 0 1.11-3.76c0-3.87-3.13-7-7-7s-7 3.13-7 7 3.13 7 7 7c1.39 0 2.68-.42 3.76-1.11l2.68 2.67a1.498 1.498 0 1 0 2.12-2.12zm-8.56-1.44c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z" fill-rule="evenodd"></path>
                                        </svg>
                                    </span>
                                    <input type="text" class="bp3-input" placeholder="Tìm kiếm ..." style="padding-right:10px" />
                                </div>
                            </div>
                        </div>
                        <div class="Header__HeaderGroupForNewbie-wwhct2-2 fYGCxf Flex-no3b20-0 cYoqhr">
                            <a href="/create-test" class="create">
                                <span class="bp3-icon bp3-icon-annotation" icon="annotation">
                                    <svg data-icon="annotation" width="16" height="16" viewBox="0 0 16 16">
                                        <desc>annotation</desc>
                                        <path d="M15.52 2.77c.3-.29.48-.7.48-1.15C16 .73 15.27 0 14.38 0c-.45 0-.85.18-1.15.48l-1.34 1.34 2.3 2.3 1.33-1.35zM7.4 10.9l6.21-6.21-2.3-2.3L5.1 8.6l2.3 2.3zM14 14H2V2h6.34l2-2H1C.45 0 0 .45 0 1v14c0 .55.45 1 1 1h14c.55 0 1-.45 1-1V5.66l-2 2V14zM3 13l3.58-1.29-2.29-2.27L3 13z" fill-rule="evenodd"></path>
                                    </svg>
                                </span>Tạo đề thi
                            </a>
                            <a href="/register" class="register">Đăng ký</a>
                            <a href="/login" class="register">Đăng nhập</a>
                        </div>
                        <div class="Header__ClientDropdown-wwhct2-3 ekXVnd">
                            <span class="bp3-popover-wrapper">
                                <span class="bp3-popover-target">
                                    <div class="userWrapper">
                        <span class="bp3-icon bp3-icon-caret-down" icon="caret-down">
                                <a href="/register" class="register">Đăng ký</a>
                                <a href="/login">Đăng nhập</a>
                                        </span>
                    </div>
                    </span>
                    </span>
            </div>
        </div>
        </header>
        <div>
            <div class="home-page__HeaderContainer-bfz5d7-0 idrEZA" style="box-shadow:rgba(235, 232, 232, 0.498) 0px 3px 7px 0px;margin-bottom:16px">
                <div class="home-page__HeaderNav-bfz5d7-1 jeQsvF">
                    <div class="home-page__MenuList-bfz5d7-2 cfOUux">
                        <div class="menuItem">
                            <a class="home-page__Menu-bfz5d7-3 fYXSUM" href="/home">TRANG CHỦ</a>
                        </div>
                        <div class="menuItem">
                            <a class="home-page__Menu-bfz5d7-3 kcCnmc" href="#">THCS &amp; THPT</a>
                        </div>
                        <div class="menuItem">
                            <a class="home-page__Menu-bfz5d7-3 kcCnmc" href="#">ĐẠI HỌC</a>
                        </div>
                        <div class="menuItem">
                            <a class="home-page__Menu-bfz5d7-3 kcCnmc" href="#">LẬP TRÌNH</a>
                        </div>
                        <div class="menuItem">
                            <a class="home-page__Menu-bfz5d7-3 kcCnmc" href="#">CHUYÊN MÔN</a>
                        </div>
                        <div class="menuItem">
                            <a class="home-page__Menu-bfz5d7-3 kcCnmc" href="#">TIẾNG ANH</a>
                        </div>
                        <div class="menuItem">
                            <a class="home-page__Menu-bfz5d7-3 kcCnmc" href="#">NGÔN NGỮ KHÁC</a>
                        </div>
                        <div class="menuItem">
                            <a class="home-page__Menu-bfz5d7-3 kcCnmc" href="#">KIẾN THỨC XÃ HỘI</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper Wrapper-mxjqhp-0 fPglrh">
            <div class="home__Container-sc-1mos7ys-0 dOZqof">
                <div class="heroUnit HeroUnit__HeroUnitStyle-s37crj-0 xvdME">
                    <div class="HeroUnit__Container-s37crj-3 kUazRM">
                        <div class="HeroUnit__Info-s37crj-5 nvACw">
                            <h2 class="bp3-heading">Chào mừng bạn đến với tungtung.vn</h2>
                            <div class="clearfix__Clearfix-w9lses-0 bkPuTF" height="16"></div>
                            <span class="welcome">
                                Nền tảng để mọi người đánh giá và phát triển năng lực thông qua việc cung cấp các
                                giải pháp tốt nhất cho qui trình đầy đủ từ việc tạo, tổ chức các bài kiểm tra
                                đến phân tích kết quả và đề xuất học tập.
                            </span>
                        </div>
                        <div class="HeroUnit__ButtonGroup-s37crj-4 cjyWAH">
                            <div class="HeroUnit__ButtonAccess-s37crj-6 fHwnQu button__ButtonStyle-ff5vbp-0 gqiRjF" color="#fff">
                                <span class="bp3-icon bp3-icon-play" icon="play">
                                    <svg fill="#fff"
                                        data-icon="play" width="14" height="14" viewBox="0 0 16 16">
                                        <desc>play</desc>
                                        <path d="M12 8c0-.35-.19-.64-.46-.82l.01-.02-6-4-.01.02A.969.969 0 0 0 5 3c-.55 0-1 .45-1 1v8c0 .55.45 1 1 1 .21 0 .39-.08.54-.18l.01.02 6-4-.01-.02c.27-.18.46-.47.46-.82z" fill-rule="evenodd"></path>
                                    </svg>
                                </span>
                                <div class="clearfix__Clearfix-w9lses-0 nSccW" width="8"></div>
                                <span class="button__Span-ff5vbp-1 dSnLVe" color="#fff">
                                    <a id="joinus" href="/register">Tham gia ngay</a>
                                </span>
                            </div>
                            <div class="clearfix__Clearfix-w9lses-0 eBiGOA" width="16"></div>
                            <a class="HeroUnit__LinkA-s37crj-7 bxynSL" target="_blank" href="/home-first">Tìm hiểu thêm</a>
                        </div>
                    </div>
                    <div class="HeroUnit__ImageWrapper-s37crj-1 gcfrSz">
                        <img class="HeroUnit__Image-s37crj-2 czlvGG" src="../images/home-page/herounit.png" />
                    </div>
                </div>
                <div class="testList ForYou__ForYouStyle-qh1998-0 cTIWxc">
                    <div class="ForYou__Container-qh1998-1 jwKPDm">
                        <div class="heading-flex__HeadingFlexStyle-sc-1ajihah-0 havYlU">
                            <h4 class="heading-flex__Heading-sc-1ajihah-1 lpcowo" size="20" color="#1d1d1f">Dành cho bạn</h4>
                            <a class="heading-flex__LinkMore-sc-1ajihah-2 jKLDIL" href="/login">
                                <span>
                                    <span class="bp3-icon bp3-icon-chevron-right" icon="chevron-right">
                                        <svg data-icon="chevron-right" width="16" height="16" viewBox="0 0 16 16">
                                            <desc>chevron-right</desc>
                                            <path d="M10.71 7.29l-4-4a1.003 1.003 0 0 0-1.42 1.42L8.59 8 5.3 11.29c-.19.18-.3.43-.3.71a1.003 1.003 0 0 0 1.71.71l4-4c.18-.18.29-.43.29-.71 0-.28-.11-.53-.29-.71z" fill-rule="evenodd"></path>
                                        </svg>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="clearfix__Clearfix-w9lses-0 bkPuTF" height="16"></div>

                    </div>
                </div>
                <div class="rating">
                    <div class="Ratings__RatingListStyle-zg783r-0 fwKyNh">
                        <div>
                            <div class="Ratings__RatingList-zg783r-1 dHFlak" style="top:64px;height:calc(100vh - 64px)">
                                <span class="heading">Cộng động đánh giá</span>
                                <div class="clearfix__Clearfix-w9lses-0 bkPuTF" height="16"></div>
                                <div class="Ratings__RatingScrollView-zg783r-8 jzLeBC">
                                    <div class="ratingItem">
                                        <div class="Ratings__RatingContainer-zg783r-5 hxnpPX">
                                            <div class="Ratings__AvatarWrapper-zg783r-6 cruCqL">
                                                <div class="avatar__Circle-sc-1k5juv6-0 kfcujS" size="35">
                                                    <span size="35" class="text">T</span>
                                                </div>
                                            </div>
                                            <div class="Ratings__Content-zg783r-2 iAmXQM">
                                                <div class="Flex-no3b20-0 lcmTbR" style="justify-content:space-between">
                                                    <span class="Ratings__Username-zg783r-3 ckkRbE">thuyduyen</span>
                                                    <div class="star__StarStyle-sc-1ukns1v-0 bYbpVA">
                                                        <div style="display:inline-block;position:relative" class="dv-star-rating dv-star-rating-non-editable">
                                                            <input type="radio" style="display:none;position:absolute;margin-left:-9999px" class="dv-star-rating-input" name="rate" id="rate_5" value="5" checked="" />
                                                            <label style="float:right;cursor:default;color:#ffb400" class="dv-star-rating-star dv-star-rating-full-star" for="rate_5">
                                                                <i style="font-style:normal">★</i>
                                                            </label>
                                                            <input type="radio" style="display:none;position:absolute;margin-left:-9999px" class="dv-star-rating-input" name="rate" id="rate_4" value="4" />
                                                            <label style="float:right;cursor:default;color:#ffb400" class="dv-star-rating-star dv-star-rating-full-star" for="rate_4">
                                                                <i style="font-style:normal">★</i>
                                                            </label>
                                                            <input type="radio" style="display:none;position:absolute;margin-left:-9999px" class="dv-star-rating-input" name="rate" id="rate_3" value="3" />
                                                            <label style="float:right;cursor:default;color:#ffb400" class="dv-star-rating-star dv-star-rating-full-star" for="rate_3">
                                                                <i style="font-style:normal">★</i>
                                                            </label>
                                                            <input type="radio" style="display:none;position:absolute;margin-left:-9999px" class="dv-star-rating-input" name="rate" id="rate_2" value="2" />
                                                            <label style="float:right;cursor:default;color:#ffb400" class="dv-star-rating-star dv-star-rating-full-star" for="rate_2">
                                                                <i style="font-style:normal">★</i>
                                                            </label>
                                                            <input type="radio" style="display:none;position:absolute;margin-left:-9999px" class="dv-star-rating-input" name="rate" id="rate_1" value="1" />
                                                            <label style="float:right;cursor:default;color:#ffb400" class="dv-star-rating-star dv-star-rating-full-star" for="rate_1">
                                                                <i style="font-style:normal">★</i>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="Ratings__ContentRating-zg783r-4 esjoli Flex-no3b20-0 cYoqhr">
                                                    <div class="content markdown-display__Wrapper-iw8e43-0 cfuuLd" size="15">
                                                        <p>Tốt </p>
                                                    </div>
                                                </div>
                                                <div class="Ratings__Bottom-zg783r-7 iHBjxs">
                                                    <span>tại </span>
                                                    <a href="/test/De-minh-hoa-ky-thi-THPT-Quoc-Gia-nam-2019-mon-Toan-MVCrL" class="title">Đề minh họa kỳ thi THPT Quốc Gia năm 2019 môn Toán</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ratingItem">
                                        <div class="Ratings__RatingContainer-zg783r-5 hxnpPX">
                                            <div class="Ratings__AvatarWrapper-zg783r-6 cruCqL">
                                                <div class="avatar__Circle-sc-1k5juv6-0 gErUDq" size="35">
                                                    <span size="35" class="text">K</span>
                                                </div>
                                            </div>
                                            <div class="Ratings__Content-zg783r-2 iAmXQM">
                                                <div class="Flex-no3b20-0 lcmTbR" style="justify-content:space-between">
                                                    <span class="Ratings__Username-zg783r-3 ckkRbE">Kizomeo</span>
                                                    <div class="star__StarStyle-sc-1ukns1v-0 bYbpVA">
                                                        <div style="display:inline-block;position:relative" class="dv-star-rating dv-star-rating-non-editable">
                                                            <input type="radio" style="display:none;position:absolute;margin-left:-9999px" class="dv-star-rating-input" name="rate" id="rate_5" value="5" checked="" />
                                                            <label style="float:right;cursor:default;color:#ffb400" class="dv-star-rating-star dv-star-rating-full-star" for="rate_5">
                                                                <i style="font-style:normal">★</i>
                                                            </label>
                                                            <input type="radio" style="display:none;position:absolute;margin-left:-9999px" class="dv-star-rating-input" name="rate" id="rate_4" value="4" />
                                                            <label style="float:right;cursor:default;color:#ffb400" class="dv-star-rating-star dv-star-rating-full-star" for="rate_4">
                                                                <i style="font-style:normal">★</i>
                                                            </label>
                                                            <input type="radio" style="display:none;position:absolute;margin-left:-9999px" class="dv-star-rating-input" name="rate" id="rate_3" value="3" />
                                                            <label style="float:right;cursor:default;color:#ffb400" class="dv-star-rating-star dv-star-rating-full-star" for="rate_3">
                                                                <i style="font-style:normal">★</i>
                                                            </label>
                                                            <input type="radio" style="display:none;position:absolute;margin-left:-9999px" class="dv-star-rating-input" name="rate" id="rate_2" value="2" />
                                                            <label style="float:right;cursor:default;color:#ffb400" class="dv-star-rating-star dv-star-rating-full-star" for="rate_2">
                                                                <i style="font-style:normal">★</i>
                                                            </label>
                                                            <input type="radio" style="display:none;position:absolute;margin-left:-9999px" class="dv-star-rating-input" name="rate" id="rate_1" value="1" />
                                                            <label style="float:right;cursor:default;color:#ffb400" class="dv-star-rating-star dv-star-rating-full-star" for="rate_1">
                                                                <i style="font-style:normal">★</i>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="Ratings__ContentRating-zg783r-4 esjoli Flex-no3b20-0 cYoqhr">
                                                    <div class="content markdown-display__Wrapper-iw8e43-0 cfuuLd" size="15">
                                                        <p>Không có tranh thì làm kiểu gì ạ?</p>
                                                    </div>
                                                </div>
                                                <div class="Ratings__Bottom-zg783r-7 iHBjxs"><span>tại </span><a href="/test/TOEIC-LISTENING-1-hgUhm" class="title">TOEIC
                                                                LISTENING 1</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ratingItem">
                                        <div class="Ratings__RatingContainer-zg783r-5 hxnpPX">
                                            <div class="Ratings__AvatarWrapper-zg783r-6 cruCqL"><img class="avatar__Image-sc-1k5juv6-1 jsjhoc" src="/avatar-default.png" size="35"
                                                /></div>
                                            <div class="Ratings__Content-zg783r-2 iAmXQM">
                                                <div class="Flex-no3b20-0 lcmTbR" style="justify-content:space-between"><span class="Ratings__Username-zg783r-3 ckkRbE">longrudzo936</span>
                                                    <div class="star__StarStyle-sc-1ukns1v-0 bYbpVA">
                                                        <div style="display:inline-block;position:relative" class="dv-star-rating dv-star-rating-non-editable"><input type="radio" style="display:none;position:absolute;margin-left:-9999px" class="dv-star-rating-input" name="rate" id="rate_5" value="5" checked="" /><label style="float:right;cursor:default;color:#ffb400"
                                                                class="dv-star-rating-star dv-star-rating-full-star" for="rate_5"><i style="font-style:normal">★</i></label><input type="radio" style="display:none;position:absolute;margin-left:-9999px" class="dv-star-rating-input"
                                                                name="rate" id="rate_4" value="4" /><label style="float:right;cursor:default;color:#ffb400" class="dv-star-rating-star dv-star-rating-full-star" for="rate_4"><i style="font-style:normal">★</i></label><input
                                                                type="radio" style="display:none;position:absolute;margin-left:-9999px" class="dv-star-rating-input" name="rate" id="rate_3" value="3" /><label style="float:right;cursor:default;color:#ffb400"
                                                                class="dv-star-rating-star dv-star-rating-full-star" for="rate_3"><i style="font-style:normal">★</i></label><input type="radio" style="display:none;position:absolute;margin-left:-9999px" class="dv-star-rating-input"
                                                                name="rate" id="rate_2" value="2" /><label style="float:right;cursor:default;color:#ffb400" class="dv-star-rating-star dv-star-rating-full-star" for="rate_2"><i style="font-style:normal">★</i></label><input
                                                                type="radio" style="display:none;position:absolute;margin-left:-9999px" class="dv-star-rating-input" name="rate" id="rate_1" value="1" /><label style="float:right;cursor:default;color:#ffb400"
                                                                class="dv-star-rating-star dv-star-rating-full-star" for="rate_1"><i style="font-style:normal">★</i></label></div>
                                                    </div>
                                                </div>
                                                <div class="Ratings__ContentRating-zg783r-4 esjoli Flex-no3b20-0 cYoqhr">
                                                    <div class="content markdown-display__Wrapper-iw8e43-0 cfuuLd" size="15">
                                                        <p>DDeef khos :) </p>
                                                    </div>
                                                </div>
                                                <div class="Ratings__Bottom-zg783r-7 iHBjxs"><span>tại </span><a href="/test/Khoi-dong-313-wkJJb" class="title">Khởi
                                                                động 313</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ratingItem">
                                        <div class="Ratings__RatingContainer-zg783r-5 hxnpPX">
                                            <div class="Ratings__AvatarWrapper-zg783r-6 cruCqL">
                                                <div class="avatar__Circle-sc-1k5juv6-0 logpNi" size="35"><span size="35" class="text">D</span></div>
                                            </div>
                                            <div class="Ratings__Content-zg783r-2 iAmXQM">
                                                <div class="Flex-no3b20-0 lcmTbR" style="justify-content:space-between"><span class="Ratings__Username-zg783r-3 ckkRbE">dao2001</span>
                                                    <div class="star__StarStyle-sc-1ukns1v-0 bYbpVA">
                                                        <div style="display:inline-block;position:relative" class="dv-star-rating dv-star-rating-non-editable"><input type="radio" style="display:none;position:absolute;margin-left:-9999px" class="dv-star-rating-input" name="rate" id="rate_5" value="5" checked="" /><label style="float:right;cursor:default;color:#ffb400"
                                                                class="dv-star-rating-star dv-star-rating-full-star" for="rate_5"><i style="font-style:normal">★</i></label><input type="radio" style="display:none;position:absolute;margin-left:-9999px" class="dv-star-rating-input"
                                                                name="rate" id="rate_4" value="4" /><label style="float:right;cursor:default;color:#ffb400" class="dv-star-rating-star dv-star-rating-full-star" for="rate_4"><i style="font-style:normal">★</i></label><input
                                                                type="radio" style="display:none;position:absolute;margin-left:-9999px" class="dv-star-rating-input" name="rate" id="rate_3" value="3" /><label style="float:right;cursor:default;color:#ffb400"
                                                                class="dv-star-rating-star dv-star-rating-full-star" for="rate_3"><i style="font-style:normal">★</i></label><input type="radio" style="display:none;position:absolute;margin-left:-9999px" class="dv-star-rating-input"
                                                                name="rate" id="rate_2" value="2" /><label style="float:right;cursor:default;color:#ffb400" class="dv-star-rating-star dv-star-rating-full-star" for="rate_2"><i style="font-style:normal">★</i></label><input
                                                                type="radio" style="display:none;position:absolute;margin-left:-9999px" class="dv-star-rating-input" name="rate" id="rate_1" value="1" /><label style="float:right;cursor:default;color:#ffb400"
                                                                class="dv-star-rating-star dv-star-rating-full-star" for="rate_1"><i style="font-style:normal">★</i></label></div>
                                                    </div>
                                                </div>
                                                <div class="Ratings__ContentRating-zg783r-4 esjoli Flex-no3b20-0 cYoqhr">
                                                    <div class="content markdown-display__Wrapper-iw8e43-0 cfuuLd" size="15">
                                                        <p>Tốt </p>
                                                    </div>
                                                </div>
                                                <div class="Ratings__Bottom-zg783r-7 iHBjxs"><span>tại </span><a href="/test/De-thi-thu-THPT-QG-2019-Mon-Su-THPT-Chuyen-Bac-Ninh-Lan-1-41zYa" class="title">Đề thi thử THPT QG 2019 - Môn Sử -
                                                                THPT Chuyên Bắc Ninh - Lần 1 (có lời giải chi
                                                                tiết)</a></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="introduction introduction__IntroductionWrapper-sc-1ipn6zt-0 hFBXac">
                    <div class="Solutions__SolutaionsWrapper-sc-1wsyjjs-0 dgrtFg">
                        <div class="Solutions__Row-sc-1wsyjjs-5 hxnhgX">
                            <div class="solutionItem Solutions__SolutionItemWrapper-sc-1wsyjjs-1 fUXOmF"><img class="Solutions__SolutionIcon-sc-1wsyjjs-2 geIrxk" src="../images/home-branding/for-common/why.png" />
                                <div class="clearfix__Clearfix-w9lses-0 bkPuTF" height="16"></div><label class="Solutions__SolutionName-sc-1wsyjjs-3 eHeJqO">Tại
                                            sao nên sử dụng tungtung.vn ?</label>
                                <div class="clearfix__Clearfix-w9lses-0 htekTm" height="8"></div><span class="Solutions__SolutionDescription-sc-1wsyjjs-4 bEYCri">Tungtung.vn
                                            là nền tảng trắc nghiệm trực tuyến cung cấp cho bạn trải nghiệm thú vị với
                                            nhiều công cụ hữu ích trong quá trình chia sẻ và đánh giá kiến thức.</span>
                            </div>
                            <div class="solutionItem Solutions__SolutionItemWrapper-sc-1wsyjjs-1 fUXOmF"><img class="Solutions__SolutionIcon-sc-1wsyjjs-2 geIrxk" src="../images/home-branding/for-common/create-share.png" />
                                <div class="clearfix__Clearfix-w9lses-0 bkPuTF" height="16"></div><label class="Solutions__SolutionName-sc-1wsyjjs-3 eHeJqO">Chia
                                            sẻ kiến thức !</label>
                                <div class="clearfix__Clearfix-w9lses-0 htekTm" height="8"></div><span class="Solutions__SolutionDescription-sc-1wsyjjs-4 bEYCri">Bạn
                                            có thể tạo đề thi trắc nghiệm trực truyến về bất kỳ lĩnh vực nào: Kiến thức
                                            THPT, Đánh giá năng lực, Ngôn ngữ, Kinh tế, Lịch sử, Xã hội,Kỹ năng mềm,…
                                            để chia sẻ kiến thức của mình đến cộng đồng.</span>
                            </div>
                            <div class="solutionItem Solutions__SolutionItemWrapper-sc-1wsyjjs-1 fUXOmF"><img class="Solutions__SolutionIcon-sc-1wsyjjs-2 geIrxk" src="../images/home-branding/for-common/play-test.png" />
                                <div class="clearfix__Clearfix-w9lses-0 bkPuTF" height="16"></div><label class="Solutions__SolutionName-sc-1wsyjjs-3 eHeJqO">Phát
                                            triển bản thân</label>
                                <div class="clearfix__Clearfix-w9lses-0 htekTm" height="8"></div><span class="Solutions__SolutionDescription-sc-1wsyjjs-4 bEYCri">Tham
                                            gia vào cộng đồng cởi mở, đa dạng lĩnh vực của chúng tôi, bạn sẽ có cơ hội
                                            thực hành, thể hiện tài năng, tự đề ra cho mình một lộ trình học tập phù
                                            hợp và theo dõi sự phát triển của bản thân.</span>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>
    </div>
</body>

</html>