html,
body {
    width: 100%;
    color: #242A31;
    margin: 0;
    height: 100%;
    padding: 0;
    font-size: 15px;
    box-sizing: border-box;
    background: #F5F7F9;
    line-height: 1em;
    font-family: Roboto, sans-serif;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

@media screen and (min-width: 768px) {
    html,
    body {
        text-rendering: optimizeLegibility;
    }
}

*,
*:before,
*:after {
    outline: none;
    box-sizing: inherit;
}

@font-face {
    font-family: "Flow-Rounded";
    src: url("https://static.gitbook.com/fonts/bfc0a96537ceb0cad9e956b9f980fe88.woff") format('woff');
    font-display: block;
}

input,
select,
textarea {
    font-size: 16px;
}

input,
select,
textarea,
button {
    font: inherit;
}

.draggingElement,
.draggingElement *:hover {
    cursor: grabbing !important;
    pointer-events: auto !important;
}

.draggingElement .draggingHidden {
    display: none;
}

.reset-3c756112--bodyWrapper-618e56ce {
    width: 100%;
    color: #242A31;
    margin: 0;
    display: block;
    padding: 0;
    min-height: 100vh;
}

.wholeContentBody-554be184 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex: 1;
    display: flex;
    transition: margin-bottom 250ms ease;
    align-items: stretch;
    -moz-transition: margin-bottom 250ms ease;
    -webkit-box-align: stretch;
    -webkit-transition: margin-bottom 250ms ease;
}

@media screen and (max-width: 1023px) {
    .wholeContentBody-554be184 {
        padding-top: 80px;
    }
}

@media screen and (max-width: 767px) {
    .wholeContentBody-554be184 {
        padding-top: 60px;
    }
}

.reset-3c756112--body-68cac36c {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    color: #242A31;
    width: 100%;
    margin: 0;
    display: flex;
    padding: 0;
    min-height: 100vh;
    background: #F5F7F9;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.reset-3c756112 {
    margin: 0;
    display: block;
    padding: 0;
}

.reset-3c756112--header-4aff1fb0 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin: 0;
    height: 80px;
    display: flex;
    padding: 0;
    z-index: 20;
    position: relative;
    box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
    border-bottom: 1px solid #d4dadf;
    background-color: #FFFFFF;
}

@media print {
    .reset-3c756112--header-4aff1fb0 {
        display: none;
    }
}

@media screen and (max-width: 1023px) {
    .reset-3c756112--header-4aff1fb0 {
        top: 0;
        width: 100%;
        position: fixed;
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (max-width: 767px) {
    .reset-3c756112--header-4aff1fb0 {
        height: 60px;
        padding-left: 8px;
        padding-right: 8px;
    }
}

.reset-3c756112--headerContainer-bb8cc0bc {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 0;
    max-width: 1448px;
}

.reset-3c756112--headerLeftColumn-4eae0bae {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    width: 100%;
    margin: 0;
    display: flex;
    padding: 0;
    position: relative;
    align-items: center;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
}

@media screen and (min-width: 1024px) {
    .reset-3c756112--headerLeftColumn-4eae0bae {
        max-width: 298px;
        justify-content: center;
        -webkit-box-pack: center;
    }
    .reset-3c756112--headerLeftColumn-4eae0bae:after {
        top: 50%;
        right: 0;
        height: 40px;
        content: " ";
        position: absolute;
        transform: translateY(-50%);
        border-left: 1px solid #E6ECF1;
    }
}

.reset-3c756112--mobileButton-7a76d05f {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex: 0 0 auto;
    width: 30px;
    cursor: pointer;
    height: 30px;
    margin: 0;
    outline: none;
    display: flex;
    padding: 0;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

@media screen and (min-width: 1024px) {
    .reset-3c756112--mobileButton-7a76d05f {
        display: none;
    }
}

.icon-7f6730be--text-3f89f380 {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.reset-3c756112--headerLogo-5c0b38e2 {
    margin: 0;
    display: block;
    padding: 0px 24px;
}

@media screen and (min-width: 1024px) {
    .reset-3c756112--headerLogo-5c0b38e2 {
        width: 250px;
        padding: 0;
    }
}

.link-a079aa82--primary-53a25e66--logoLink-10d08504 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    color: #3884FF;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    -webkit-box-align: center;
}

.reset-3c756112--tooltipContainer-7fdb9b70--small-2ec8ae1a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    width: 30px;
    margin: 0;
    height: 30px;
    display: flex;
    padding: 0;
    border-radius: 3px;
}

.reset-3c756112--avatarFrame-2f40cdc9--small-2ec8ae1a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    -webkit-mask-image: -moz-radial-gradient(white, black);
    mask-image: -webkit-radial-gradient(white, black);
    mask-image: -moz-radial-gradient(white, black);
    width: 30px;
    height: 30px;
    margin: 0;
    display: flex;
    padding: 0;
    position: relative;
    overflow: hidden;
    mask-image: radial-gradient(white, black);
    align-items: center;
    border-radius: 3px;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-mask-image: radial-gradient(white, black);
}

.image-67b14f24--avatar-1c1d03ec {
    width: 100%;
    height: 100%;
    max-width: 100%;
    background-size: cover;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
}

.reset-3c756112--S100Left-7c8af13a--logoDisplayNameContainer-24e8ae83 {
    flex: 1;
    color: #242A31;
    margin: 0;
    display: block;
    padding: 0;
    padding-left: 8px;
}

@media screen and (max-width: 1023px) {
    .reset-3c756112--S100Left-7c8af13a--logoDisplayNameContainer-24e8ae83 {
        overflow: hidden;
        max-width: 50vw;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.text-4505230f--DisplayH700-a03ad9b4--spaceNameText-677c2969 {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
    overflow-wrap: break-word;
}

.reset-3c756112--headerInnerWrapper-cc7576c4 {
    flex: 1 1 auto;
    margin: 0px 88px;
    display: block;
    padding: 0;
    overflow: hidden;
    position: relative;
    max-width: 750px;
}

.reset-3c756112--headerInnerWrapper-cc7576c4:after {
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    top: 0;
    width: 32px;
    right: 0;
    height: 100%;
    content: " ";
    position: absolute;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}

@media screen and (max-width: 1439px) {
    .reset-3c756112--headerInnerWrapper-cc7576c4 {
        margin: 0px 24px 0px 88px;
    }
}

@media screen and (max-width: 1023px) {
    .reset-3c756112--headerInnerWrapper-cc7576c4 {
        display: none;
    }
}

.reset-3c756112--withScrollbar-39338630--scrollAxisX-bf86cd6c--headerInner-c872fc48 {
    display: -webkit-box;
    overflow-x: auto;
    height: 100%;
    margin: 0;
    display: flex;
    padding: 0;
    opacity: 1;
    transition: flex 250ms ease, width 250ms ease, opacity 250ms ease;
    overflow-y: hidden;
    overflow-x: overlay;
    -moz-transition: flex 250ms ease, width 250ms ease, opacity 250ms ease;
    -webkit-transition: flex 250ms ease, width 250ms ease, opacity 250ms ease;
    -webkit-overflow-scrolling: touch;
}

.reset-3c756112--withScrollbar-39338630--scrollAxisX-bf86cd6c--headerInner-c872fc48::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    display: none;
}

.reset-3c756112--withScrollbar-39338630--scrollAxisX-bf86cd6c--headerInner-c872fc48::-webkit-scrollbar-track {
    background: none;
    border-width: 0;
}

.reset-3c756112--withScrollbar-39338630--scrollAxisX-bf86cd6c--headerInner-c872fc48::-webkit-scrollbar-thumb {
    transition: background 250ms ease;
    background: rgba(0, 0, 0, .16);
    border-radius: 2px;
    -moz-transition: background 250ms ease;
    -webkit-transition: background 250ms ease;
}

.reset-3c756112--withScrollbar-39338630--scrollAxisX-bf86cd6c--headerInner-c872fc48::-webkit-scrollbar-button {
    display: none;
}

.reset-3c756112--withScrollbar-39338630--scrollAxisX-bf86cd6c--headerInner-c872fc48::-webkit-scrollbar-track-piece {
    display: none;
}

.reset-3c756112--withScrollbar-39338630--scrollAxisX-bf86cd6c--headerInner-c872fc48::-webkit-scrollbar-corner {
    display: none;
}

.reset-3c756112--withScrollbar-39338630--scrollAxisX-bf86cd6c--headerInner-c872fc48::-webkit-resizer {
    display: none;
}

.reset-3c756112--withScrollbar-39338630--scrollAxisX-bf86cd6c--headerInner-c872fc48:hover::-webkit-scrollbar {
    display: initial;
}

.reset-3c756112--withScrollbar-39338630--scrollAxisX-bf86cd6c--headerInner-c872fc48:hover::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .16);
}

.reset-3c756112--searchInputWrapper-ea7f3052 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin: 0;
    height: 80px;
    display: flex;
    padding: 0;
    position: relative;
    max-width: 224px;
    align-items: center;
    -webkit-box-align: center;
}

.reset-3c756112--searchInputWrapper-ea7f3052:before {
    top: 50%;
    left: 0;
    height: 40px;
    content: " ";
    position: absolute;
    transform: translateY(-50%);
    border-left: 1px solid #E6ECF1;
}

@media screen and (max-width: 1023px) {
    .reset-3c756112--searchInputWrapper-ea7f3052 {
        display: none;
    }
}

.reset-3c756112--inputContainer-b2cb171c {
    margin: 0;
    display: block;
    padding: 0;
    padding-left: 14px;
    padding-right: 16px;
}

.inputWrapper-4a6e8c52--TextH400-3033861f--mediumInputWrapper-4505230f--input-6d442051 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    width: 100%;
    border: none;
    display: flex;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
    background: #FFFFFF;
    font-weight: 400;
    line-height: 1.625;
    border-radius: 3px;
}

.inputInner-29ebfcec--mediumInputInner-0bbed4bd--inputInner-2e165f14 {
    font: inherit;
    width: 100%;
    color: inherit;
    border: none;
    margin: 0;
    height: 38px;
    resize: none;
    cursor: inherit;
    padding: 0px 8px;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    text-align: inherit;
    line-height: inherit;
    border-radius: 3px;
}

.inputInner-29ebfcec--mediumInputInner-0bbed4bd--inputInner-2e165f14::placeholder {
    color: #9DAAB6;
    font-size: 16px;
    font-weight: 500;
}

.reset-3c756112--inputInnerSizer-756c9114 {
    flex: 1;
    margin: 0;
    display: block;
    padding: 0;
}

.inputAddOn-11ebc0bc--inputAddOnPrefix-af00a20c--inputIcon-1f8349b3 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex: 0 0 auto;
    color: #242A31;
    order: -1;
    display: flex;
    align-items: center;
    line-height: 1.2;
    white-space: nowrap;
    padding-left: 10px;
    -webkit-box-align: center;
}

.reset-3c756112--bodyContent-2f98451b {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex: 1;
    width: 100%;
    color: #3B454E;
    margin: 0 auto;
    display: flex;
    padding: 0;
}

.reset-3c756112--wholeContent-9fc567d4 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    width: 100%;
    margin: 0;
    display: flex;
    padding: 0;
    position: relative;
    min-height: 100%;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

@keyframes c01299 {
    0% {
        background-color: rgba(24, 48, 85, 0);
    }
    100% {
        background-color: rgba(24, 48, 85, 0.30000000000000004);
    }
}

.reset-3c756112--backdrop-1322b68a--hidden-247382c3--overlay-29559ab8 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    bottom: 0;
    display: flex;
    padding: 0;
    z-index: 29;
    position: absolute;
    transition: background-color 250ms ease-out;
    align-items: center;
    animation-name: none;
    pointer-events: none;
    justify-content: center;
    -moz-transition: background-color 250ms ease-out;
    -webkit-box-pack: center;
    background-color: rgba(24, 48, 85, 0);
    -webkit-box-align: center;
    animation-duration: 0.2s;
    -webkit-transition: background-color 250ms ease-out;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@media screen and (min-width: 1024px) {
    .reset-3c756112--backdrop-1322b68a--hidden-247382c3--overlay-29559ab8 {
        z-index: 14;
    }
}

.reset-3c756112--contentNavigation-dd3370a4 {
    margin: 0;
    display: block;
    padding: 0;
    z-index: 30;
}

@media print {
    .reset-3c756112--contentNavigation-dd3370a4 {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .reset-3c756112--contentNavigation-dd3370a4 {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex: 0 0 auto;
        width: calc((100% - 1448px) / 2 + 298px);
        z-index: 15;
        display: flex;
        min-width: 298px;
        background: #F5F7F9;
        align-items: stretch;
        padding-left: calc((100% - 1448px) / 2);
        border-right: 1px solid #E6ECF1;
        flex-direction: column;
        -webkit-box-align: stretch;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
    }
}

.reset-3c756112--contentNavigationInner-205d49ea--contentNavigationInnerCollapsed-7b4aca00 {
    flex: 1;
    margin: 0;
    display: block;
    padding: 0;
}

@media screen and (max-width: 1023px) {
    .reset-3c756112--contentNavigationInner-205d49ea--contentNavigationInnerCollapsed-7b4aca00 {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 30;
        position: fixed;
        transform: translateX(-100%) !important;
        max-width: 298px;
        overflow-y: auto;
        transition: transform 250ms ease;
        box-shadow: none;
        border-right: 1px solid #E6ECF1;
        -moz-transition: transform 250ms ease;
        background-color: #fff;
        -webkit-transition: transform 250ms ease;
    }
}

.sidebar-84a13d8e {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex: auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.reset-3c756112--sidebarWrapper-84a13d8e {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.reset-3c756112--sidebarMain-32610e62 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin: 0;
    height: 100%;
    display: flex;
    padding: 0;
    flex-direction: column;
    background-color: #F5F7F9;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.reset-3c756112--withScrollbar-39338630--scrollAxisY-7680295e--sidebarInner-18a1e7fe {
    overflow-y: auto;
    flex: 1 1 auto;
    width: 100%;
    margin: 0;
    display: block;
    padding: 0;
    overflow-x: hidden;
    overflow-y: overlay;
    -webkit-overflow-scrolling: touch;
}

.reset-3c756112--withScrollbar-39338630--scrollAxisY-7680295e--sidebarInner-18a1e7fe::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    display: none;
}

.reset-3c756112--withScrollbar-39338630--scrollAxisY-7680295e--sidebarInner-18a1e7fe::-webkit-scrollbar-track {
    background: none;
    border-width: 0;
}

.reset-3c756112--withScrollbar-39338630--scrollAxisY-7680295e--sidebarInner-18a1e7fe::-webkit-scrollbar-thumb {
    transition: background 250ms ease;
    background: rgba(0, 0, 0, .16);
    border-radius: 2px;
    -moz-transition: background 250ms ease;
    -webkit-transition: background 250ms ease;
}

.reset-3c756112--withScrollbar-39338630--scrollAxisY-7680295e--sidebarInner-18a1e7fe::-webkit-scrollbar-button {
    display: none;
}

.reset-3c756112--withScrollbar-39338630--scrollAxisY-7680295e--sidebarInner-18a1e7fe::-webkit-scrollbar-track-piece {
    display: none;
}

.reset-3c756112--withScrollbar-39338630--scrollAxisY-7680295e--sidebarInner-18a1e7fe::-webkit-scrollbar-corner {
    display: none;
}

.reset-3c756112--withScrollbar-39338630--scrollAxisY-7680295e--sidebarInner-18a1e7fe::-webkit-resizer {
    display: none;
}

.reset-3c756112--withScrollbar-39338630--scrollAxisY-7680295e--sidebarInner-18a1e7fe:hover::-webkit-scrollbar {
    display: initial;
}

.reset-3c756112--withScrollbar-39338630--scrollAxisY-7680295e--sidebarInner-18a1e7fe:hover::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .16);
}

.reset-3c756112--mobileHeader-4e2d4892 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    color: #74818D;
    margin: 0;
    height: 59px;
    display: flex;
    padding: 0;
    box-shadow: 0 1px 1px 0 rgba(116, 129, 141, 0.1);
    align-items: stretch;
    border-bottom: 1px solid #d4dadf;
    background-color: #FFFFFF;
    -webkit-box-align: stretch;
}

@media screen and (min-width: 768px) {
    .reset-3c756112--mobileHeader-4e2d4892 {
        display: none;
    }
}

.reset-3c756112--mobileHeaderClose-47b8fa64 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin: 0;
    cursor: pointer;
    display: flex;
    padding: 8px 16px;
    font-size: 24px;
    align-items: center;
    -webkit-box-align: center;
}

.reset-3c756112--pageNavigation-4b07cd56 {
    margin: 0;
    display: block;
    padding: 0;
    font-size: 15px;
    margin-top: 32px;
    padding-left: 16px;
}

@media screen and (min-width: 768px) {
    .reset-3c756112--pageNavigation-4b07cd56 {
        padding-left: 24px;
    }
}

.reset-3c756112--pageItem-01e3f344 {
    margin: 0;
    display: block;
    padding: 0;
    position: relative;
    border-left: 1px solid transparent;
}

.reset-3c756112--pageComponent-7cc5301a {
    margin: 0;
    display: block;
    padding: 0;
    margin-left: -1px;
}

.navButton-94f2579c--navButtonClickable-a079aa82 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    color: inherit;
    cursor: pointer;
    border: 1px solid transparent;
    display: flex;
    padding: 7px 24px 7px 16px;
    position: relative;
    align-items: center;
    border-right: 0;
    text-decoration: none;
    -webkit-box-align: center;
}

.text-4505230f--UIH300-2063425d--navButtonLabel-756c9114 {
    flex: 1;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
}

.reset-3c756112--navButtonIcon-433c72ce--navButtonIconClickable-11a89312 {
    color: #9DAAB6;
    margin: -8px;
    cursor: pointer;
    display: block;
    padding: 8px;
    position: relative;
    font-size: 18px;
    line-height: 1;
    margin-left: 0;
}

.reset-3c756112--navButtonIcon-433c72ce--navButtonIconClickable-11a89312:hover {
    color: #5C6975;
}

.navButton-94f2579c--navButtonClickable-a079aa82--navButtonOpen-6a88552e {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    color: inherit;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 7px 24px 7px 16px;
    display: flex;
    position: relative;
    align-items: center;
    border-right: 0;
    border-color: #E6ECF1 !important;
    text-decoration: none;
    background-color: #FFFFFF;
    -webkit-box-align: center;
}

.navButton-94f2579c--navButtonClickable-a079aa82--navButtonOpen-6a88552e:hover {
    border-color: #E6ECF1;
    background-color: #FFFFFF;
}

.navButton-94f2579c--S300Bottom-9b4658d2--navButtonClickable-a079aa82 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    color: inherit;
    cursor: pointer;
    border: 1px solid transparent;
    display: flex;
    padding: 7px 24px 7px 16px;
    position: relative;
    align-items: center;
    border-right: 0;
    margin-bottom: 24px;
    text-decoration: none;
    -webkit-box-align: center;
}

.reset-3c756112--footer-68e6f18c {
    margin: 0;
    display: block;
    padding: 0;
    position: relative;
}

.reset-3c756112--footer-68e6f18c:before {
    background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #F5F7F9 100%);
    background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #F5F7F9 100%);
    top: -24px;
    width: 100%;
    height: 24px;
    display: block;
    content: "";
    position: absolute;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #F5F7F9 100%);
}

.trademarkLogo-0d2d53bc--trademarkPowered-0000cf2a {
    color: inherit;
    font-size: 40px;
    text-decoration: none;
}

.trademarkLogo-0d2d53bc--trademarkPowered-0000cf2a:hover {
    color: #3884FF;
}

.trademarkPowered-0000cf2a {
    color: inherit;
    text-decoration: none;
}

.trademarkPowered-0000cf2a:hover {
    color: #3884FF;
}

.trademarkSignIn-9cfb539c {
    color: inherit;
    border-bottom: 1px solid;
    padding-bottom: 0.1em;
    text-decoration: none;
}

.trademarkSignIn-9cfb539c:hover {
    color: #3884FF;
}

.reset-3c756112--S200-b052550e--S200-45c58e48--trademark-299fb304 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    color: #9DAAB6;
    margin: 16px;
    display: flex;
    padding: 16px;
    align-items: center;
    border-radius: 3px;
    background-color: #E6ECF1;
    -webkit-box-align: center;
}

.reset-3c756112--trademarkContent-04a01aea {
    flex: 1;
    margin: 0;
    display: block;
    padding: 0;
    padding-left: 16px;
}

.text-4505230f--TextH200-a3425406 {
    font-size: 12px;
    line-height: 1.625;
    font-weight: 400;
}

.wholeContentSticky-f53dafd2 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex: 1 1 auto;
    display: flex;
    position: relative;
    min-width: 0;
}

.reset-3c756112--wholeContent-2277d1e8 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex: 1 1 auto;
    margin: 0;
    display: flex;
    padding: 0;
    min-width: 0;
    max-width: 100%;
    background: #fff;
    flex-direction: column;
    padding-bottom: 64px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.reset-3c756112--pageContainer-b8151bcc {
    flex: 1 1 auto;
    margin: 0px 16px;
    display: block;
    padding: 0;
    min-width: 0;
    max-width: 750px;
}

@media screen and (max-width: 1023px) {
    .reset-3c756112--pageContainer-b8151bcc {
        margin: 0px auto;
        padding: 0px 24px;
    }
}

@media screen and (min-width: 1024px) {
    .reset-3c756112--pageContainer-b8151bcc {
        margin: 0px 88px;
    }
}

.reset-3c756112--pageHeader-2d9fadfe {
    margin: 0;
    display: block;
    padding: 0;
    border-bottom: 1px solid #E6ECF1;
    margin-bottom: 32px;
}

.reset-3c756112--pageHeaderInner-7c0f0284 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex: auto;
    margin: 0;
    display: flex;
    padding: 40px 0px;
}

@media screen and (min-width: 768px) {
    .reset-3c756112--pageHeaderInner-7c0f0284 {
        flex-wrap: wrap;
        align-items: baseline;
        flex-direction: row;
        -webkit-box-align: baseline;
        -webkit-box-lines: multiple;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
    }
}

.reset-3c756112--pageHeaderWrapperContent-6897c946 {
    flex: 1;
    margin: 0;
    display: block;
    padding: 0;
    position: relative;
}

.reset-3c756112--horizontalFlex-5a0077e0 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin: 0;
    display: flex;
    padding: 0;
    align-items: stretch;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-box-align: stretch;
}

.reset-3c756112--pageHeaderIntro-7395894e {
    flex: 1 1 auto;
    margin: 0;
    display: block;
    padding: 0 16px;
    border-left: 2px solid #E6ECF1;
}

.pageTitle-76f90029 {
    width: 100%;
    margin: 0;
    border: none;
    display: block;
    outline: none;
    background: none;
    border-radius: 3px;
}

.text-4505230f--DisplayH900-bfb998fa {
    font-size: 32px;
    line-height: 1.5;
    font-weight: 500;
}

.reset-3c756112--pageMetas-07f0e704 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex: auto;
    margin: 0;
    display: flex;
    padding: 0;
    margin-top: 8px;
    align-items: center;
    -webkit-box-align: center;
}

@media print {
    .reset-3c756112--pageMetas-07f0e704 {
        display: none;
    }
}

.reset-3c756112--pageContributors-5c59582e {
    flex: 0 0 auto;
    margin: 0;
    display: block;
    padding: 0;
    margin-right: 8px;
}

.reset-3c756112--ownerAvatarList-696792ce {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin: 0;
    display: flex;
    padding: 0;
    flex-direction: row-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
}

@keyframes c01300 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.reset-3c756112--tooltipContainer-7fdb9b70--tooltipped-44e742a2--bottom-f9ec01b8--small-2ec8ae1a--circle-6c5acd10--ownerAvatarListItem-1b188f0f--whiteOutline-6045f802 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    width: 30px;
    margin: 0;
    height: 30px;
    display: flex;
    padding: 0;
    z-index: 0;
    position: relative;
    box-shadow: 0 0 0 2px white;
    border-radius: 128px;
}

.reset-3c756112--tooltipContainer-7fdb9b70--tooltipped-44e742a2--bottom-f9ec01b8--small-2ec8ae1a--circle-6c5acd10--ownerAvatarListItem-1b188f0f--whiteOutline-6045f802:after {
    top: calc(100% + 16px);
    left: 50%;
    color: #FFFFFF;
    bottom: auto;
    display: none;
    z-index: 100;
    padding: 5px 8px;
    content: attr(aria-label);
    opacity: 0;
    position: absolute;
    font-size: 12px;
    transform: translateX(-50%);
    background: #242A31;
    white-space: pre;
    font-weight: 400;
    line-height: 1.625;
    border-radius: 3px;
    pointer-events: none;
    animation-name: c01300;
    text-transform: none;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.reset-3c756112--tooltipContainer-7fdb9b70--tooltipped-44e742a2--bottom-f9ec01b8--small-2ec8ae1a--circle-6c5acd10--ownerAvatarListItem-1b188f0f--whiteOutline-6045f802:before {
    top: calc(100% + 8px);
    left: 50%;
    bottom: auto;
    content: "";
    display: none;
    opacity: 0;
    z-index: 101;
    position: absolute;
    transform: translateX(-50%);
    border-color: #242A31 transparent;
    border-style: solid;
    animation-name: c01300;
    border-top-width: 0;
    border-left-width: 8px;
    border-right-width: 8px;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    border-bottom-width: 8px;
}

.reset-3c756112--tooltipContainer-7fdb9b70--tooltipped-44e742a2--bottom-f9ec01b8--small-2ec8ae1a--circle-6c5acd10--ownerAvatarListItem-1b188f0f--whiteOutline-6045f802:nth-last-child(n+2) {
    margin-left: -8px;
}

.reset-3c756112--tooltipContainer-7fdb9b70--tooltipped-44e742a2--bottom-f9ec01b8--small-2ec8ae1a--circle-6c5acd10--ownerAvatarListItem-1b188f0f--whiteOutline-6045f802:hover:before {
    display: block;
}

.reset-3c756112--tooltipContainer-7fdb9b70--tooltipped-44e742a2--bottom-f9ec01b8--small-2ec8ae1a--circle-6c5acd10--ownerAvatarListItem-1b188f0f--whiteOutline-6045f802:hover:after {
    display: block;
}

.reset-3c756112--avatarFrame-2f40cdc9--small-2ec8ae1a--circle-6c5acd10 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    -webkit-mask-image: -moz-radial-gradient(white, black);
    mask-image: -webkit-radial-gradient(white, black);
    mask-image: -moz-radial-gradient(white, black);
    width: 30px;
    height: 30px;
    margin: 0;
    display: flex;
    padding: 0;
    position: relative;
    overflow: hidden;
    mask-image: radial-gradient(white, black);
    align-items: center;
    border-radius: 128px;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-mask-image: radial-gradient(white, black);
}

@keyframes c01301 {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

.reset-3c756112--image-67b14f24--imagePlaceholder-ed69bfb4--avatarPlaceholder-30bd49ac {
    width: 100%;
    height: 100%;
    margin: 0;
    display: inline-block;
    padding: 0;
    max-width: 100%;
    background: #E6ECF1;
    animation-name: c01301;
    animation-duration: 0.6s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.reset-3c756112--pageEditedDate-b805c39a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex: auto;
    color: #9DAAB6;
    margin: 0;
    display: flex;
    padding: 0;
}

.reset-3c756112--toolbar-57270756--toolbar-5dbb008a {
    margin: 0;
    display: inline-grid;
    padding: 0;
    margin-top: 9px;
    grid-column-gap: 16px;
    grid-template-rows: none;
    -ms-grid-column-gap: 16;
    -ms-grid-template-rows: none;
}

.reset-3c756112--pageHeaderDescription-22970244 {
    flex: auto;
    margin: 0;
    display: block;
    padding: 0;
}

.pageDescription-fa3710ac {
    width: 100%;
    color: #3B454E;
    resize: none;
    border: none;
    margin: 24px 0px 0px 0px;
    display: block;
    outline: none;
    overflow-x: hidden;
    background: none;
    min-height: 19px;
    border-radius: 3px;
    letter-spacing: 0.0em;
}

.text-4505230f--TextH400-3033861f {
    font-size: 16px;
    line-height: 1.625;
    font-weight: 400;
}

.reset-3c756112--toaster-c029690e {
    top: 16px;
    left: 50%;
    margin: 0;
    display: block;
    padding: 0;
    z-index: 160;
    position: fixed;
    transform: translateX(-50%);
}

.reset-3c756112--pageBody-ceb8ae94 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin: 0;
    display: flex;
    padding: 0;
    font-size: 16px;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.reset-3c756112--container-960c7c26 {
    margin: 0;
    display: block;
    padding: 0;
    position: relative;
    margin-bottom: -24px;
}

.reset-3c756112--blockHint-a7403a60 {
    width: 100%;
    margin: 0;
    display: block;
    padding: 24px 24px calc(1px / 10) 50px;
    position: relative;
    margin-top: 32px;
    border-left: 4px solid;
    margin-bottom: 32px;
    border-radius: 3px;
    background-color: #F5F7F9;
}

.reset-3c756112--hintIcon-7c7981dd--paragraph-ae3112d0 {
    top: 24px;
    left: 16px;
    margin: 0;
    display: block;
    padding: 0;
    position: absolute;
    font-size: 24px;
}

.blockParagraph-544a408c {
    color: inherit;
    margin: 0;
    position: relative;
    margin-bottom: 24px;
}

.reset-3c756112--tabs-ed73a86a {
    margin: 32px 0px;
    display: block;
    padding: 0;
}

.reset-3c756112--tabsHeader-433e26ce {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    padding: 0;
    position: relative;
    align-items: center;
    white-space: nowrap;
    margin-bottom: -1px;
    -webkit-box-align: center;
}

.reset-3c756112--tabsHeaderContainer-3cead3c2 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin: 0;
    display: flex;
    padding: 0;
    max-width: 100%;
}

.reset-3c756112--tabsHeaderContent-5e26ff2c {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin: 0;
    display: flex;
    padding: 0;
    max-width: 100%;
    pointer-events: auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.reset-3c756112--tab-488dd212--UIH300-2063425d--active-7bf3ed3d {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex: 0 0 auto;
    color: #242A31;
    cursor: auto;
    margin: 0;
    border: 1px solid #E6ECF1;
    display: flex;
    padding: 8px 0;
    outline: none;
    position: relative;
    font-size: 14px;
    min-width: 0;
    max-width: 100%;
    transition: color 250ms ease-out;
    line-height: 1.5;
    font-weight: 500;
    text-overflow: ellipsis;
    -moz-transition: color 250ms ease-out;
    background-color: #FFFFFF;
    border-left-color: transparent;
    -webkit-transition: color 250ms ease-out;
    border-bottom-color: #FFFFFF;
}

.reset-3c756112--tab-488dd212--UIH300-2063425d--active-7bf3ed3d:hover {
    color: #242A31;
    cursor: pointer;
}

.reset-3c756112--tab-488dd212--UIH300-2063425d--active-7bf3ed3d:first-child {
    border-left-color: #E6ECF1;
    border-top-left-radius: 3px;
}

.reset-3c756112--tab-488dd212--UIH300-2063425d--active-7bf3ed3d:last-child {
    border-top-right-radius: 3px;
}

.reset-3c756112--flexPadding-61045e34 {
    flex: 1 1 16px;
    width: 16px;
    margin: 0;
    display: block;
    padding: 0;
    min-width: 8px;
}

.reset-3c756112--tabInner-1de1736f {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex: 0 1 auto;
    margin: 0;
    display: flex;
    padding: 0;
    overflow: hidden;
    max-width: 100%;
    min-width: 0;
    text-overflow: ellipsis;
}

.reset-3c756112--wrapperTabsItemTitle-cf85d4a4 {
    margin: 0;
    display: block;
    padding: 0;
    overflow: hidden;
    max-width: 100%;
    min-width: 0;
    text-overflow: ellipsis;
}

.reset-3c756112--tab-488dd212--UIH300-2063425d {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex: 0 1 auto;
    color: #9DAAB6;
    border: 1px solid #E6ECF1;
    margin: 0;
    display: flex;
    outline: none;
    padding: 8px 0;
    position: relative;
    font-size: 14px;
    min-width: 0;
    max-width: 100%;
    transition: color 250ms ease-out;
    font-weight: 500;
    line-height: 1.5;
    text-overflow: ellipsis;
    -moz-transition: color 250ms ease-out;
    background-color: #F5F7F9;
    border-left-color: transparent;
    -webkit-transition: color 250ms ease-out;
}

.reset-3c756112--tab-488dd212--UIH300-2063425d:hover {
    color: #242A31;
    cursor: pointer;
}

.reset-3c756112--tab-488dd212--UIH300-2063425d:first-child {
    border-left-color: #E6ECF1;
    border-top-left-radius: 3px;
}

.reset-3c756112--tab-488dd212--UIH300-2063425d:last-child {
    border-top-right-radius: 3px;
}

.reset-3c756112--tabItemContent-2edf4fc8--tabItemContentActive-41e173d5 {
    margin: 0;
    border: 1px solid #E6ECF1;
    display: block;
    padding: 24px;
    background: #FFFFFF;
    border-radius: 3px;
    padding-bottom: 0;
    border-top-left-radius: 0px;
}

.blockHeading-442b4f12 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    color: #242A31;
    margin: 0;
    display: flex;
    position: relative;
    margin-bottom: 24px;
}

.blockHeadingContent-756c9114 {
    flex: 1;
}

.text-4505230f--HeadingH700-04e1a2a3 {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
}

.blockHeadingAnchor-34f75d78--blockHeadingAnchorHidden-d69b5eda {
    width: 20px;
    color: #242A31;
    opacity: 0;
    transition: opacity 150ms ease;
    line-height: 1em;
    padding-left: 4px;
    -moz-transition: opacity 150ms ease;
    -webkit-transition: opacity 150ms ease;
}

.blockHeadingAnchor-34f75d78--blockHeadingAnchorHidden-d69b5eda:hover {
    color: #3884FF;
}

@media print {
    .blockHeadingAnchor-34f75d78--blockHeadingAnchorHidden-d69b5eda {
        display: none;
    }
}

.blockHeadingAnchorIcon-1c2bf3cb {
    font-size: 16px;
    vertical-align: middle;
}

.reset-3c756112--blockHeadingUp-c32402b2 {
    width: 1em;
    margin: 0;
    cursor: pointer;
    height: 1em;
    display: block;
    padding: 0;
    outline: none;
    line-height: 1em;
}

@media screen and (min-width: 768px) {
    .reset-3c756112--blockHeadingUp-c32402b2 {
        display: none;
    }
}

@media print {
    .reset-3c756112--blockHeadingUp-c32402b2 {
        display: none;
    }
}

.bold-3c254bd9 {
    font-weight: 700;
}

.blockHeading-442b4f12--blockHeading1WithMargin-b69d755e {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    color: #242A31;
    margin: 0;
    display: flex;
    position: relative;
    margin-top: 73px;
    margin-bottom: 24px;
}

.blockHeading-442b4f12--blockHeading1WithMargin-b69d755e:before {
    top: -32px;
    left: 0;
    width: 100%;
    height: 1px;
    content: " ";
    position: absolute;
    background-color: #E6ECF1;
}

.list-20526648 {
    color: #3B454E;
    margin: 0;
    padding: 0;
    padding-left: 2em;
    margin-bottom: 24px;
}

.reset-3c756112--listItemContent-756c9114 {
    flex: 1;
    margin: 0;
    display: block;
    padding: 0;
}

.blockParagraph-544a408c--noMargin-acdf7afa {
    color: inherit;
    margin: 0;
    position: relative;
    margin-bottom: 0;
}

.reset-3c756112--tabItemContent-2edf4fc8 {
    margin: 0;
    border: 1px solid #E6ECF1;
    display: none;
    padding: 24px;
    background: #FFFFFF;
    border-radius: 3px;
    padding-bottom: 0;
    border-top-left-radius: 0px;
}

.reset-3c756112--pageFooter-f1d5e2b0 {
    margin: 0;
    display: block;
    padding: 0;
    margin-top: 64px;
}

@media print {
    .reset-3c756112--pageFooter-f1d5e2b0 {
        display: none;
    }
}

.reset-3c756112--S500Bottom-9b44a55e {
    margin: 0;
    display: block;
    padding: 0;
    margin-bottom: 40px;
}

.reset-3c756112--navPagesLinks-c15d4ab6 {
    width: auto;
    margin: 0;
    display: grid;
    padding: 0;
    grid-column-gap: 24px;
    grid-template-rows: auto;
    grid-template-areas: "previous next";
    -ms-grid-column-gap: 24;
    grid-template-columns: 1fr 1fr;
    -ms-grid-template-rows: auto;
    -ms-grid-template-areas: "previous next";
    -ms-grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 767px) {
    .reset-3c756112--navPagesLinks-c15d4ab6 {
        grid-row-gap: 24px;
        -ms-grid-row-gap: 24;
        grid-template-areas: "next""previous";
        grid-template-columns: 1fr;
        -ms-grid-template-areas: "next""previous";
        -ms-grid-template-columns: 1fr;
    }
}

.reset-3c756112--card-0d0ab889--cardPrevious-780593f5 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    color: #242A31;
    border: 1px solid #E6ECF1;
    margin: 0;
    display: flex;
    padding: 0;
    position: relative;
    grid-area: previous;
    align-self: stretch;
    transition: border 250ms ease;
    box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
    align-items: center;
    justify-self: stretch;
    border-radius: 3px;
    -ms-grid-area: previous;
    flex-direction: row;
    -moz-transition: border 250ms ease;
    text-decoration: none;
    background-color: #FFFFFF;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
    -webkit-transition: border 250ms ease;
    -webkit-box-direction: normal;
}

.reset-3c756112--cardIcon-5b647d22 {
    flex: 0 0 auto;
    color: #9DAAB6;
    margin: 0;
    display: block;
    padding: 16px;
    font-size: 24px;
    transition: color 250ms ease;
    -moz-transition: color 250ms ease;
    -webkit-transition: color 250ms ease;
}

.reset-3c756112--cardIcon-5b647d22:first-child {
    padding-right: 0;
}

.reset-3c756112--cardIcon-5b647d22:last-child {
    padding-left: 0;
}

.reset-3c756112--cardBody-25dca3b1--cardPreviousBody-79f02c06 {
    flex: 1;
    margin: 0;
    display: block;
    padding: 16px;
    text-align: right;
}

.reset-3c756112--cardHint-2c5d8183 {
    color: #9DAAB6;
    margin: 0;
    display: block;
    padding: 0;
}

.reset-3c756112--cardTitle-32aa092e {
    margin: 0;
    display: block;
    padding: 0;
    transition: color 250ms ease;
    -moz-transition: color 250ms ease;
    -webkit-transition: color 250ms ease;
}

.text-4505230f--UIH400-4e41e82a {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
}

.reset-3c756112--card-0d0ab889--cardNext-8e63d620 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    color: #242A31;
    border: 1px solid #E6ECF1;
    margin: 0;
    display: flex;
    padding: 0;
    position: relative;
    grid-area: next;
    align-self: stretch;
    transition: border 250ms ease;
    box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
    align-items: center;
    justify-self: stretch;
    border-radius: 3px;
    -ms-grid-area: next;
    flex-direction: row;
    -moz-transition: border 250ms ease;
    text-decoration: none;
    background-color: #FFFFFF;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
    -webkit-transition: border 250ms ease;
    -webkit-box-direction: normal;
}

.reset-3c756112--cardBody-25dca3b1 {
    flex: 1;
    margin: 0;
    display: block;
    padding: 16px;
}

.reset-3c756112--pageSide-0b375e86 {
    flex: 0 0 auto;
    width: 224px;
    margin: 0;
    display: block;
    padding: 0;
    position: relative;
    margin-right: auto;
}

@media print {
    .reset-3c756112--pageSide-0b375e86 {
        display: none;
    }
}

@media screen and (max-width: 1279px) {
    .reset-3c756112--pageSide-0b375e86 {
        display: none;
    }
}

.tocWrapper-5c5932a6 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}